# Игнорировать виртуальное окружение
venv/
kirillenv/

# Игнорировать конфигурации среды разработки
.idea/

# Игнорировать кэш Python
__pycache__/

# Игнорировать резервную копию .gitignore (если не нужна в репозитории)
.gitignore.bak

# Игнорировать директорию для загружаемых файлов, если их не нужно хранить в репозитории
uploads/

# Игнорировать другие служебные файлы (если есть)
*.log
*.tmp
*.out
